@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


.home-container {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
}

.menu {
    width: 30%;
    height: 100vh;
    border-right: 4px solid black;
    position: fixed;
    font-family: "Inter", sans-serif;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-weight: 600;
    font-size: 32px;
}

li {
    list-style: none;
    font-weight: 400;
    margin-bottom: 3px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
}

.my-groceries-title-menu:hover,
.pink {
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f5aec5;
}

.vocabinet-title-menu:hover,
.purple {
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(247, 216, 255);
}

.title-clicked {
    font-size: 22px;
}

.project-container {
    position: relative;
    margin-left: 30%;
    width: 70%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 40px 105px;
    -webkit-overflow-scrolling: touch;
}

.menu-toggle {
    display: none;
    all: unset;
    z-index: 999;
}

@media (max-width: 1700px) {
     .project-container {
        padding: 40px 95px;
    }   
}

@media (max-width: 1600px) {
     .project-container {
        padding: 40px 75px;
    }   
}

@media (max-width: 1368px) {
         .project-container {
        padding: 40px 50px;
    }   

    h1 {
        font-size: 27px;
    }

    li {
        font-size: 19px;
    }

    .title-clicked {
        font-size: 21px;
    }
}

@media (max-width: 1100px) {
    .project-container {
        padding: 40px 45px;
    }
}

@media (max-width: 1024px) {
    .project-container {
        padding: 40px 40px;
    }

    h1 {
        font-size: 20px;
    }

    li {
        font-size: 17px;
    }

    .title-clicked {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .project-container {
        padding: 40px 20px;
    }

    .menu {
        padding: 30px;
        border-right: 3px solid black;
    }

    h1 {
        font-size: 15.5px;
    }

    li {
        font-size: 14px;
    }

    .title-clicked {
        font-size: 15px;
    }
}

@media (min-width: 616px) {
    .menu-toggle {
        display: none !important;
    }
}

@media (max-width: 615px) {
    .menu-toggle {
        display: block;
        position: fixed;
        bottom: 27px;
        right: 39px;
        color: black;
        font-size: 42px;
        z-index: 999;
        font-weight: bold;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: whitesmoke;
        z-index: 800;
        padding: 40px 30px;
    }

     .menu.closed {
        display: none;
    }

    .project-container {
        position: relative;
        margin-left: 0;
        width: 100%;
        height: 100vh;
        padding: 20px 30px;
    }

    h1 {
        font-size: 21.5px;
        position: fixed;
        bottom: 40px;
        left: 30px;
    }

    li, .title-clicked {
        font-size: 20px;
    }
}